body {
    background-color: #ab8ee2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 10px;
    text-shadow: 3px 3px 1px rgb(146, 139, 139);
    font-family: Impact;
}

h2 {
    font-size: 25px;
    margin: 10px;
}

h3 {
    font-size: 24px;
    border-bottom: 2px solid rgb(236, 224, 248);
    padding-bottom: 5px;
    margin: 10px;
    text-shadow: 5px 5px 5px rgb(146, 139, 139); 
}

.info {
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

#register {
    font-family: sans-serif;
    font-size: 20px;
}

.ahorro {
    width: 60%;
    border: 5px solid rgb(57, 8, 117);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-size-adjust: 80%;
    background: linear-gradient(90deg, rgb(223, 124, 223, 0.3), rgb(128, 0, 128, 0.3) ) ;
    text-shadow: 3px 3px 1px rgb(146, 139, 139);
}

#total {
    font-size: 40px;
    text-align: center;
}

.summary {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    border: 3px solid rgb(236, 224, 248);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 60%;
    align-items: center;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(90deg, rgba(32, 131, 23, 0.808), rgba(192, 51, 26, 0.3) ) ;
    flex-wrap: wrap;   
}

.historical {
    display: flexbox;
    justify-content: space-between;
    border: 3px dotted rgb(236, 224, 248);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 60%;
    align-items: center;
    list-style: none;
    font-size: 14px;
    flex-direction: column;
    text-align: center;
    background-color: rgb(167, 145, 189);
}

.transaction {
    display: flexbox;
    justify-content: space-between;
    border: 3px dotted rgb(236, 224, 248);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 60%;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(167, 145, 189);
}

#income{
    color: rgb(17, 43, 17);
}

#expenses {
    color: rgb(109, 28, 28);
}

.InputForm {
    display: flex;
    font-size: 12px;
}

#addtrans{
    background: rgb(136, 78, 194);
    margin-top: 1rem;
    padding: 2px;
    color: solid rgb(57, 8, 117);
    font-size: 18px;
    position: relative;
    border-radius: 8px;
    width: 35%;
    cursor: pointer;
}

.buttonRemove {
    background: rgb(136, 78, 194);
    padding: 2px;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
 }
  
  #addtrans:hover,
  #addtrans:focus,
  .buttonRemove:hover,
  .buttonRemove:focus {
    outline     : none;
    background  : #000;
    color       : #FFF;
  }

